[data-button="facebook"] {
  background-color: var(--facebook);
}

[data-button="facebook"].outlined {
  background: transparent;
  border-color: var(--facebook)
}

[data-button="facebook"].outlined svg {
  fill:var(--facebook);
}

[data-button="facebook"].outlined:hover {
  filter: brightness(100%);
  background-color: var(--facebook);
}

[data-button="facebook"].outlined:hover svg {
  fill:#fff;
}