[data-button="google"] {
  background-color: var(--google);
}

[data-button="google"].outlined {
  background: transparent;
  border-color: var(--google)
}

[data-button="google"].outlined svg {
  fill:var(--google);
}

[data-button="google"].outlined:hover {
  filter: brightness(100%);
  background-color: var(--google);
}

[data-button="google"].outlined:hover svg {
  fill:#fff;
}