.login-container {
    width: 85vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    padding: 4%;
    margin: 4% 0;
    border-radius: 12px;
    background: var(--bg-color);
    box-shadow: var(--box-shadow);
}

.login-container header {
    display: flex;
    text-align: start;
    flex-direction: column;
    align-items: center;
}

.login-container header p {
    font-size: 22px;
    color: var(--white);
}

.login-container form .back {
    color: #707477;
    align-self: start;
    padding: 0 2%;
    margin-bottom: -1%;
    font-size: 18px;
}

.login-container form .back:hover {
    color: var(--orange);
    cursor: pointer;
}

.login-container header h1 {
    font-size: 48px;
    letter-spacing: 3px;
    color: var(--orange);
}

.login-container form {
    display: flex;
    width: 50%;
    max-width: 400px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1% 0;
}

.login-container form .row {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 2% 0;
    user-select: none;
    font: 600 28px 'Work Sans', sans-serif;
}

.login-container section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    max-width: 400px;
}

.login-container section div {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-between;
}

.login-container section .icons {
    margin-bottom: 1rem;
}